* {
    font-family: sans-serif;
    font-size: 14px;
}

body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden!important;
	overflow-x: hidden;
	background-color: #FFF;
}

#intro-box{
	width: 40vw;
	position: absolute;
	top: 12vh;
	left: 30vw;
	height: 40vw;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    

    display: none;
}
#hi-text{
	color: #9E9E9E;
	font-size: 9vw;
	margin-top: 6vh;
	text-align: center;
}

#welcome-text{
	color: #9E9E9E;
	font-size: 4vw;
	margin-top: 4vh;
	text-align: center;
}

#intro-text{
	color: #9E9E9E;
	font-size: 3vw;
	text-align: center;
	width: 30vw;
	margin: 0 auto;
	margin-top: 5vh;
}
#name-box{
	position: absolute;
	top: 50vh;
	width: 50vw;
	left: 25vw;


	display: none;
}	
#name-text{
	color: #95989a;
	font-size: 3vw;
	margin-top: 4vh;
	text-align: center;
    font-family: sans-serif;
}
#name-input{
	margin: 0 auto;
	width: 40vw;
	margin-left: 5vw;
	margin-top: 5vh;
	background-color: transparent;
	color: #95989a;
	font-size: 2.5vw;
	outline: none;
	border: none;
	border-bottom: solid 3px black;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #757575;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #757575;
}
:-moz-placeholder { /* Firefox 18- */
  color: #757575;
}

#name-next{
	width: 18vw;
	margin-left: 15vw;
	margin-top: 7vh;
	background-color: #616161;
	color: #333;
	padding: 2vh;
	font-size: 2.4vw;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}
#name-next:hover{
	color: #EEEEEE;
}


#details-box{
	display: none;
}

#details-intro{
	padding-top: 10vh;
	margin: 0 auto;
	text-align: center;
	font-size: 5vw;
}
#details-text{
	margin-top: 5vh;
	margin-left: 25vw;
	width: 50vw;
	color: #95989a;
	font-size: 2.5vw;
	text-align: center;
}

#details-info{
	width: 70vw;
	margin-left: 15vw;
	margin-top: 10vh;
    line-height: 20px;
	font-size: 20px;
	text-align: center;
}

.text-inp{
	background-color: transparent;
	color: #95989a;
    line-height: 30px;
	font-size: 20px;
	outline: none;
	border: none;
	border-bottom: solid 2px black;
	padding-left: 1vw;
	padding-right: 1vw;
}
#details-next{
	width: 18vw;
	margin-left: 40vw;
	margin-top: 7vh;
	background-color: #616161;
	color: #333;
	padding: 2vh;
	font-size: 2.4vw;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}
#details-next:hover{
	color: #EEEEEE;
}


#skin-box{
	display: none;
}
#skin-title{
	color: #333;
	padding-top: 10vh;
	margin: 0 auto;
	text-align: center;
	font-size: 5vw;
}
#skin-text{
	margin-top: 5vh;
	margin-left: 25vw;
	width: 45vw;
	color: #95989a;
	font-size: 2.5vw;
	text-align: center;
}
#skin-box1{
	position: absolute;
	top: 45vh;
	left: 12.5vw;
	width: 15vw;
	height: 15vw;
	background-color: white;
}
#skin-box2{
	position: absolute;
	top: 45vh;
	left: 32.5vw;
	width: 15vw;
	height: 15vw;
	background-color: white;
}
#skin-box3{
	position: absolute;
	top: 45vh;
	left: 52.5vw;
	width: 15vw;
	height: 15vw;
	background-color: white;
}
#skin-box4{
	position: absolute;
	top: 45vh;
	left: 72.5vw;
	width: 15vw;
	height: 15vw;
	background-color: white;
}
#skin-next{

	width: 18vw;
	margin-left: 40vw;
	margin-top: 45vh;
	background-color: #616161;
	color: #333;
	padding: 2vh;
	font-size: 2.4vw;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
}
#skin-box-img{
	cursor: pointer!important;
}
.skin-box-img:hover{
	box-shadow: 0 0 5px 5px #616161!important;
}
.skin-box-img-sel{
	box-shadow: 0 0 5px 5px #1976D2!important;
}
.skin-box-img-sel:hover{
	box-shadow: 0 0 5px 5px #616161!important;
}
#choose-box{
	display: none;
}

#main-ring{
	background-color: pink;
	position: absolute;
	top: 3vw;
	left: 4vw;
}

#ring1{
	position: absolute;
	width: 44vw;
	height: 44vw;
}

#circle1{
	position: absolute;
	border-radius: 50%;
	width: 44vw;
	height: 44vw;
	background-color: #EEEEEE;
	border: solid 2vw #EEEEEE;
}

#circle2{
	position: absolute;
	border-radius: 50%;
	width: 44vw;
	height: 44vw;
	transform: rotateZ(120deg);
	border: solid 2vw transparent;

}

#circle3{
	position: absolute;
	border-radius: 50%;
	width: 44vw;
	height: 44vw;
	transform: rotateZ(240deg);
	border: solid 2vw transparent;

}

.min-cir{
	width: 6vw;
	height: 6vw;
	position: absolute;
	background-color: white;
	border-radius: 50%;
}
#min-cir01,#min-cir05,#min-cir09{
	left: 19vw;
}
#min-cir02,#min-cir06,#min-cir10{
	left: 19vw;
	top: 38vw;
}
#min-cir03,#min-cir07,#min-cir11{
	top: 19vw;
	left: 38vw;
}
#min-cir04,#min-cir08,#min-cir12{
	top: 19vw;
}


#ring2{
	position: absolute;
	width: 30vw;
	height: 30vw;
	top: 9vw;
	left: 9vw;
}

#circle4{
	position: absolute;
	background-color: #333;
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
}

#min-cir13{
	left: 12vw;
	top: 0.7vw;
}

#min-cir14{
	left: 12vw;
	top: 0.7vw;
}
#min-cir15{
	left: 12vw;
	top: 0.7vw;
}

#circle5{
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	transform: rotateZ(120deg);
}
#circle6{
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	transform: rotateZ(240deg);
}


#ring3{
	position: absolute;
	width: 15vw;
	height: 15vw;
	top: 16.5vw;
	left: 16.5vw;
}

#circle7{
	position: absolute;
	background-color: #616161;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	transform: rotateZ(60deg);
}
#circle8{
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	transform: rotateZ(180deg);
}
#circle9{
	position: absolute;
	background-color: transparent;
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	transform: rotateZ(300deg);
}

#min-cir16{
	left: 4.5vw;
	top: 0.5vw;
}
#min-cir17{
	left: 4.5vw;
	top: 0.5vw;
}
#min-cir18{
	left: 4.5vw;
	top: 0.5vw;
}
#choose-txt{
	font-size: 5vw;
	color: #95989a;
	position: absolute;
	right: 8vw;
	top: 4vw;
}
#choose-num{
	font-size: 2.5vw;
	color: #95989a;
	position: absolute;
	/*right: 8vw;
	top: 10vw;*/
    right: 8vw;
	top: 75vh;
}
#timer{
	font-size: 7vw;
	color: #95989a;
	position: absolute;
	right: 8vw;
	top: 60vh;
}
#choose-info{
	font-size: 2.5vw;
	color: #95989a;
	position: absolute;
	/*right: 8vw;
	top: 75vh;*/
    right: 8vw;
	top: 10vw;
	width: 30vw;
	text-align: right;
}

#choose-preview{
	position: absolute;
	transform: rotateZ(270deg);
	right: 6vw;
	top: 18vh;
	width: 30vw;
}
#choose-preview-clr{
	position: absolute;
	transform: rotateZ(270deg);
	right: 6vw;
	top: 18vh;
	width: 30vw;
}

#choose-preview-dst{
	position: absolute;
	transform: rotateZ(270deg);
	right: 6vw;
	top: 18vh;
	width: 30vw;
}

#choose-preview-fin{
	position: absolute;
	transform: rotateZ(270deg);
	right: 6vw;
	top: 18vh;
	width: 30vw;
}

#star-box1 {
    position: absolute;
    top:70vh;
    left: 17.5vw;
    width: 15vw;
}

#star-box2 {
    position: absolute;
    top:70vh;
    left: 42.5vw;
    width: 15vw;
}

#star-box3 {
    position: absolute;
    top:70vh;
    left: 67.5vw;
    width: 15vw;
}

.star {
    height: 16px;
    width: auto;
    padding-right: 8px;
}

.rect{
	position: absolute;
	width: 6vw;
	height: 45vw;
	top: 8.5vh;
	left: 25vw;
}

.cir1{
	background-color: white;
	position: absolute;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	top: 0.5vw;
}
.cir2{
	background-color: white;
	position: absolute;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	bottom:0.7vw;
}

#rect2{
	transform: rotateZ(30deg);
}

#rect3{
	transform: rotateZ(60deg);
}

#rect4{
	transform: rotateZ(90deg);
}

#rect5{
	transform: rotateZ(120deg);
}

#rect6{
	transform: rotateZ(150deg);
}

.rect-2{
	position: absolute;
	width: 6vw;
	height: 28vw;
	top: 13vw;
	left: 25vw;
}
#rect-d2{
	transform: rotateZ(120deg);
}

#rect-d3{
	transform: rotateZ(240deg);
}


.rect-3{
	position: absolute;
	width: 6vw;
	height: 15.5vw;
	top: 19.2vw;
	left: 25vw;
}

#rect-f1{
	transform: rotateZ(60deg);
}

#rect-f2{
	transform: rotateZ(180deg);
}

#rect-f3{
	transform: rotateZ(300deg);
}


#circle-1{
	top: 3.8vw;
	left: 5vw;
	width: 46vw;
	position: absolute;
	height: 46vw;
	border-radius: 50%;
	background-color: #757575;
}

#circle-2{
	top: 12.8vw;
	left: 14vw;
	width: 28vw;
	position: absolute;
	height: 28vw;
	border-radius: 50%;
	background-color: #333;
}

#circle-3{
	top: 19.8vw;
	left: 20.8vw;
	width: 14.4vw;
	position: absolute;
	height: 14.4vw;
	border-radius: 50%;
	background-color: #EEEEEE;
}


#choose-okay{
	position: absolute;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	top: 75vh;
	left: 55vw;
	cursor: pointer;
}

#choose-okay:hover{
	box-shadow: 0 0 10px 10px green;
}


#final-box{
	display: none;
}



#final-txt{
	text-align: center;
	font-size: 5vw;
	color: #95989a;
	margin-top: 10vh;
}

#final-box1{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 17.5vw;
	background-color: white;
}

#final-box2{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 42.5vw;
	background-color: white;
}

#final-box3{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 67.5vw;
	background-color: white;
}

#final-clr1{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 17.5vw;
	z-index: 6;
	
}

#final-clr2{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 42.5vw;
	z-index: 6;
	
}

#final-clr3{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 67.5vw;
	z-index: 6;
	
}
#final-dst1{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 17.5vw;
	z-index: 8;
	
}

#final-dst2{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 42.5vw;
	z-index: 8;
	
}

#final-dst3{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 67.5vw;
	z-index: 8;
	
}
#final-fin1{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 17.5vw;
	z-index: 10;
	
}

#final-fin2{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 42.5vw;
	z-index: 10;
	
}

#final-fin3{
	position: absolute;
	top: 30vh;
	width: 15vw;
	height: 15vw;
	left: 67.5vw;
	z-index: 10;
	
}

#final-info{
	text-align: center;
	font-size: 3vw;
	color: #95989a;
	margin-top: 60vh;
}

#bye-box{

}

#bye-txt{
	text-align: center;
	font-size: 4vw;
	color: #95989a;
	margin-top: 40vh;
	display: none;
}